h1{
    color: black;
}

h2{
    color: black;
}

p{
    color: black;
    text-align: left;
    margin-left: 40px;
}

li{
    color: black;
    padding: 4px;
    text-align: left;
}

*{
    background-color: rgb(180, 150, 110);
    text-align: center;
}